@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 2px;
}

/* LAYOUT */
header {

  height: 20vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top:8rem;
  margin-bottom:10rem;

    /* border:3px white solid; */

}

main {
  height: 80vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border:3px white solid; */

}

.left,
.right {
  width: 50%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 3rem;
  text-align: center;
 margin-top: 10rem;
}

.number {
  color: #eee;
  font-size: 4rem;
  width: 170px;
  height: 120px;
  background-image: url(images/mossheader.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 3rem 0rem;
  text-align: center;
  /* margin-bottom: 5rem; */
  text-align: center;
  /* border: 4px solid #eee; */
}

.between {
  font-size: 2rem;
  margin-top:4rem;
  margin-bottom: 2rem;
  padding: 2rem 4rem;
  border-radius: 5px;
  border: 2px solid #eee;
  width:80%;
}

.again {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.guess {
  background: none;
  border: 2px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  padding: 2rem;
  width: 20rem;
  text-align: center;
  display: block;
  margin-top: 8rem; 
  border-radius: 5px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem ;
  cursor: pointer;
  margin: 2rem;
    border-radius: 5px;

}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 2rem;
  height: 15rem;
  font-size: 2.5rem;
  /* border:1px solid #eee; */
  padding: 3rem 5rem;
  width: 100%;
  text-align: center;
}

.label-score {
  margin-bottom: 2rem;
}


/******************MEDIAQUERY******************/

/*=========== laptops =======*/

@media (min-width:769px) and (max-width:1024px)  {
html {
  font-size: 50%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
header {
  margin-top:8rem;

  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main {
  height: 60vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border:3px white solid; */
}

.left,
.right {
  width: 70%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing:2px;
  /* border:3px solid white; */
  
}

/* ELEMENTS STYLE */
h1 {
  text-align: center;
  height: 100%;
}

.number {
  color: #eee;
  font-size: 6rem;
  width: 40%;
  height: 200px;
  background-image: url(images/mossheader.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 3rem 0rem;
  text-align: center;
  margin-top: 4rem;
  text-align: center;
  border: 2px solid #eee;
}

.between {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  padding: 3rem 5rem;
  border-radius: 5px;
  border: 2px solid #eee;
  width:100%;
  line-height: 1.5;
  letter-spacing: 2px;
}

.again {
  margin-top: 1.5rem;
  text-align: center;
  /* margin-bottom: 1.5rem; */
}

.guess {
  background: none;
  border: 2px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  padding: 2.5rem 1.5rem;
  width: 30%;
  text-align: center;
  display: block;
  margin-top: 14rem;
  border-radius: 5px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  /* font-size: 1.8rem; */

  font-family: inherit;
  padding: 2rem 2.5rem;
  cursor: pointer;
  /* margin-bottom: 1.5rem; */
}

.btn:hover {
  background-color: #ccc;
}

.message {
  height: 100px;
  width: 150%;
  font-size:3rem;
  padding:1rem;
}

.label-score {
  margin-bottom: 1.5rem;
}
} 




/*=========== Tablet =======*/
@media (min-width:481px) and (max-width:768px)  {
html {
  font-size: 50%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
header {

  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main {
  height: 60vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border:3px white solid; */
}

.left,
.right {
  width: 70%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing:2px;
  /* border:3px solid white; */
  
}

/* ELEMENTS STYLE */
h1 {
  margin-top:5rem;
  text-align: center;
  height: 100%;
}

.number {
  color: #eee;
  font-size: 6rem;
  width: 40%;
  height: 200px;
  background-image: url(images/mossheader.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 3rem 0rem;
  text-align: center;
  margin-top: 4rem;
  text-align: center;
  border: 2px solid #eee;
}

.between {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  padding: 3rem 5rem;
  border-radius: 5px;
  border: 2px solid #eee;
  width:100%;
  line-height: 1.5;
  letter-spacing: 2px;
}

.again {
  margin-top: 1.5rem;
  text-align: center;
  /* margin-bottom: 1.5rem; */
}

.guess {
  background: none;
  border: 2px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  padding: 2.5rem 1.5rem;
  width: 30%;
  text-align: center;
  display: block;
  margin-top: 14rem;
  border-radius: 5px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  /* font-size: 1.8rem; */

  font-family: inherit;
  padding: 2rem 2.5rem;
  cursor: pointer;
  /* margin-bottom: 1.5rem; */
}

.btn:hover {
  background-color: #ccc;
}

.message {
  /* margin-bottom: 4rem; */
  height: 100px;
  width: 150%;
  font-size:3rem;
  padding:1rem;
}

.label-score {
  margin-bottom: 1.5rem;
}
}

/*===== Mobile ======*/

@media (min-width:320px) and (max-width:480px)  {
html {
  font-size: 45%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
header {
  /* position: relative; */
  /* background-color: #0F7303; */
  height: 25vh;
  width: 100%;
  /* border-bottom: 7px solid #eee; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url(images/mossheader.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* padding-top: 4rem; */
}

main {
  height: 70vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 5rem;
  /* border:3px white solid; */
}

.left,
.right {
  width: 70%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing:2px;
  /* border:3px solid white; */
}

/* ELEMENTS STYLE */


.number {
  color: #eee;
  font-size: 6rem;
  width: 50%;
  height: 200px;
  background-image: url(images/mossheader.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 3rem 0rem;
  text-align: center;
  /* margin-bottom: 4rem; */
  text-align: center;
  border: 2px solid #eee;
}

.between {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid #eee;
  width:90%;
  line-height: 1.5;
  letter-spacing: 2px;
}

.again {
  margin-top: 1.5rem;
  text-align: center;
  /* margin-bottom: 1.5rem; */
}

.guess {
  background: none;
  border: 2px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  padding: 1.5rem;
  width: 70%;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  /* font-size: 1.8rem; */

  font-family: inherit;
  padding: 2rem 2.5rem;
  cursor: pointer;
  /* margin-bottom: 1.5rem; */
}

.btn:hover {
  background-color: #ccc;
}

.message {
  /* margin-bottom: 4rem; */
  height: 100px;
  width: 150%;
  font-size:2.5rem;
  padding:1rem;
}

.label-score {
  margin-bottom: 1.5rem;
}
}
